body
{
		/* Background pattern from Toptal Subtle Patterns */
		background-image: url("img/handmadepaper.png");
		font-family: 'Roboto Slab', serif;
		color: #FFFFFF;
	    margin:0;
		padding:0;
}

#wrapper
{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
}

#header
{
		background-color: #4CA0F5;
		padding: 3px 0;
		opacity: 0.55;
}

h1
{
	margin: 10px;
	font-size: 40px;
	text-transform: uppercase;	
	font-weight: 700;
}

h4
{
	margin: 10px;
	font-size: 18px;
	font-style: italic;
}

#logo
{
		text-align: center;
		letter-spacing: 4px;
		text-shadow: 0.8px 0.8px #0C255C;
}

h2
{
	margin: 0;
	letter-spacing: 3px;
	font-size: 40px;
}

#sentence
{
		margin-left: auto;
		margin-right: auto;
		width: 300px;
		padding: 5px;
		margin-top: 10px;
		margin-bottom: 10px;
}

#content
{
		width: 600px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		background-color: #8DBCEB;
		margin-top: 38px;
		padding:10px;
		border-radius: 10px;
		border: 1px solid #9EBDDB;
		opacity: 0.8;
		text-shadow: 0.5px 0.5px #0072E3;
		-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
		-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
		box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

input[type=text],
input[type=email],
input[type=password]
{
	width: 400px;
	background-color: #efefef;
	color: #0259B0;
	border: 2px solid #BCCAE8;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=text]:focus, input[type=text]:hover,
input[type=email]:focus, input[type=email]:hover,
input[type=password]:focus, input[type=password]:hover
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #9EBDDB;
	border-radius: 5px;
	color: #0259B0;
}

input[type=submit]
{
	width: 230px;
	margin-left: auto;
	margin-right: auto;
	background-color: #1A78D6;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1px;
	outline: none;
	margin-bottom: 15px;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
	background-color: #2E8FF1;
}

#footer
{
	width:100%;
	background-color: #0F5296;
	text-align: center;
	position: fixed;
    bottom: 0;
    width: 100%;
	padding: 7px 0;
	font-size: 13px;
	opacity: 0.8;
}