html{
	height:100vh;
	width:100vw;
}

body{
		/* Background pattern from Toptal Subtle Patterns */
		background-image: url("img/handmadepaper.png");
		font-family: 'Roboto Slab', serif;
		color: white;
		padding:0;
		margin: 0;
		height: 100%;
}

#wrapper{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
}

#header{
		background-color: #4CA0F5;
		padding: 3px 0;
		opacity: 0.55;
}

h1{
	margin: 10px;
	font-size: 40px;
	text-transform: uppercase;	
	font-weight: 700;
}

h4{
	margin: 10px;
	font-size: 18px;
	font-style: italic;
}

#logo{
		text-align: center;
		letter-spacing: 4px;
		text-shadow: 0.8px 0.8px #0C255C;
}

h2{
	margin: 0;
	letter-spacing: 1px;
	font-size: 40px;
}

#sentence{
		width: 350px;
		padding: 5px;
		margin-top: 8px;
		margin-bottom: 8px;
		margin-left: auto;
		margin-right: auto;
		font-size: 20px;
}

#sentence_registration{
		width: 400px;
		padding: 5px;
		margin-left: auto;
		margin-right: auto;
		font-size: 20px;
}

#content{
		width: 550px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		background-color: #8DBCEB;
		margin-top: 25px;
		margin-bottom: 15px;
		padding:10px;
		border-radius: 10px;
		border: 1px solid #9EBDDB;
		opacity: 0.8;
		text-shadow: 0.5px 0.5px #0072E3;
		-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
		-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
		box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

input[type=text],
input[type=email],
input[type=password]{
	width: 400px;
	background-color: #efefef;
	color: #0259B0;
	border: 2px solid #BCCAE8;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
	font-family: 'Roboto Slab', serif;
}

input[type=text]:focus, input[type=text]:hover,
input[type=email]:focus, input[type=email]:hover,
input[type=password]:focus, input[type=password]:hover{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #9EBDDB;
	border-radius: 5px;
	color: #0259B0;
}

input[type=submit]{
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #1A78D6;
	font-size:20px;
	color: white;
	padding: 10px 5px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1px;
	outline: none;
	margin-bottom: 15px;
	font-family: 'Roboto Slab', serif;
}

input[type=submit]:focus{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover{
	background-color: #2E8FF1;
}

#footer{
	width:100%;
	background-color: #0F5296;
	text-align: center;
	padding: 5px 0;
	font-size: 11px;
	opacity: 0.8;
	margin-top:8px;
}

a:link{
	color: #FFFFFF;
	text-decoration:none;
}

a:visited{
	color: #FFFFFF;
}

a:hover{
	color: #FFFFFF;
}

#attention:hover{
	font-weight: bold;
}

nav{
	width: 100%;
	padding: 5px 0;
	background-color: rgb(48, 141, 235);
	opacity: 0.6;
	border-top: 1px solid rgb(97, 176, 240);
	border-bottom: 1px solid rgb(97, 176, 240);
	text-align: center;
	display: flex;
	justify-content: center;
}

ol{
	padding: 0;
	margin: 0;
	list-style-type: none;
	line-height: 180%;
	font-size: 17px;
	letter-spacing: 0.5px;
}

ol a {
	color: white;
	text-decoration: none;
	display: block;
}

ol > li{
	float: left;
	width: 170px;
	border-right: 1px dashed rgb(97, 176, 240);
}

ol > li:first-child{
	border-left: 1px dashed rgb(97, 176, 240);
}

ol > li:hover{
	background-color: #4CA0F5 ;
}

